<div data-module="holiday-types">
  <div class="row">
    <div class="col-md-6">
      <%= form.text_field :title, class: 't-title' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%=
        form.select(
          :users,
          grouped_options_for_select(guider_options, holiday.users),
          {},
          multiple: 'multiple',
          class: 't-users',
          data: { module: 'advanced-select' },
        )
      %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= form.check_box :all_day, label: 'This holiday lasts for multiple days', value: 'true', class: 'js-multi-day t-multi-day' %>
    </div>
  </div>
  <div class="row js-multi-day-container t-multi-day-container" style="display: none;">
    <div class="col-md-6">
      <%=
        form.text_field(
          :multi_day_start_at,
          label: 'Date from',
          class: 't-start-at',
          value: build_date_range_picker_date(holiday.multi_day_start_at),
          data: {
            module: 'date-range-picker',
            config: {
              singleDatePicker: true,
              autoApply: true,
              locale: {
                format: 'DD/MM/YYYY'
              }
            }
          }
        )
      %>
      <%=
        form.text_field(
          :multi_day_end_at,
          label: 'Date to',
          class: 't-end-at',
          value: build_date_range_picker_date(holiday.multi_day_end_at),
          data: {
            module: 'date-range-picker',
            config: {
              singleDatePicker: true,
              autoApply: true,
              locale: {
                format: 'DD/MM/YYYY'
              }
            }
          }
        )
      %>
    </div>
  </div>

  <div class="row js-single-day-container t-single-day-container" style="display: none;">
    <div class="col-md-6">
      <%=
        form.text_field(
          :single_day_start_at,
          label: 'Date',
          value: build_date_range_picker_date(holiday.single_day_start_at),
          class: 't-date',
          data: {
            module: 'date-range-picker',
            config: {
              singleDatePicker: true,
              autoApply: true,
              locale: {
                format: 'DD/MM/YYYY'
              }
            }
          }
        )
      %>
    </div>
    <div class="col-md-12">
      <div class="form-group holiday-single-day-group">
        <%= form.label :single_day_start_at, 'Start', class: 'holiday-single-day-group__label' %>
        <%= form.time_select :single_day_start_at, { minute_step: 5 }, class: 'form-control', style: 'width: 65px; display: inline-block;' %>

        <%= form.label :single_day_end_at, 'End', class: 'holiday-single-day-group__label', style: 'margin-left: 10px' %>
        <%= form.time_select :single_day_end_at, { minute_step: 5 }, class: 'form-control', style: 'width: 65px; display: inline-block;' %>
      </div>

      <% if form.object.errors[:single_day_end_at].any? %>
        <div class="has-error">
          <span class="help-block text-left"><%= form.object.errors[:single_day_end_at].first %></span>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= form.submit 'Save', class: 't-save' %>
      <% if params[:id].present? %>
        <%=
          link_to(
            'Delete holiday',
            holidays_path(holiday_ids: params[:id]),
            method: :delete,
            class: 'btn btn-danger t-delete',
            data: { confirm: 'Are you sure you want to delete this holiday?' }
          )
        %>
      <% end %>
    </div>
  </div>
</div>
