<ol class="breadcrumb">
  <li><a href="<%= root_path %>">Home</a></li>
  <li class="active">Holidays</li>
</ol>

<h1>Holidays</h1>

<div class="row">
  <div class="col-xs-12">
    <%= link_to new_holiday_path, class: 'btn btn-primary' do %>
    <span class="fa fa-calendar-times-o t-create-holiday" aria-hidden="true"></span> Add Holiday
  <% end %>
  </div>
</div>
<div
  id="HolidaysCalendar"
  class="holiday-calendar"
  data-module="holidays-calendar"
  data-holidays-path="<%= merged_holidays_path %>"
  data-new-holiday-path="<%= new_holiday_path %>"
  data-default-date="<%= Time.zone.now %>"
 ></div>
