<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Home</a></li>
    <li class="active"><a href="<%= holidays_path %>">Holidays</a></li>
    <li class="active">Create a holiday</li>
  </ol>

  <h1>Create a holiday</h1>
</div>

<%= form_for @holiday, layout: :basic do |f| %>
  <%= f.text_field :title, class: 't-title' %>
  <% date_range = "#{@holiday.try(:start_at)} - #{@holiday.try(:end_at)}", 't-date-range' %>
  <%=
    f.text_field(
      :date_range,
      class: 't-date-range',
      data: {
        module: 'DateRangePicker',
        config: {
          timePicker: true,
          timePickerIncrement: 5,
          dateLimit: {
            days: 1
          },
          locale: {
            format: 'DD/MM/YYYY HH:mm'
          }
        }
      }
    )
  %>
  <%=
    f.select(
      :users,
      grouped_options_for_select(guider_options),
      {},
      multiple: 'multiple',
      class: 't-users',
      data: { module: 'AdvancedSelect' },
    )
  %>
  <%= f.submit 'Save', class: 't-save' %>
<% end %>
