<%= breadcrumb(
  { title: 'Holidays', path: holidays_path },
  { title: 'Create a holiday' }
)
%>

<h1>Create a holiday</h1>

<%= form_for @holiday, url: batch_create_holidays_path, layout: :basic do |f| %>
  <div data-module="holiday-types">
    <div class="row">
      <div class="col-md-6">
        <%= f.text_field :title, class: 't-title' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%=
          f.select(
            :users,
            grouped_options_for_select(guider_options),
            {},
            multiple: 'multiple',
            class: 't-users',
            data: { module: 'advanced-select' },
          )
        %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="multi-day-checkbox">Multi day?</label>
          <input type="checkbox" id="multi-day-checkbox" value="1" class="js-multi-day-checkbox" checked>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%=
          f.text_field(
            :date_range,
            class: 't-all-day-date-range js-date-from',
            label: 'Date from',
            data: {
              module: 'date-range-picker',
              config: {
                singleDatePicker: true,
                autoApply: true,
                locale: {
                  format: 'DD/MM/YYYY'
                }
              }
            }
          )
        %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 js-one-day">
        <%=
          f.text_field(
            :date_range,
            label: 'Date to',
            class: 't-one-day-date-range',
            data: {
              module: 'date-range-picker',
              config: {
                singleDatePicker: true,
                autoApply: true,
                locale: {
                  format: 'DD/MM/YYYY'
                }
              }
            }
          )
        %>
      </div>
    </div>
    <div class="row js-times">
      <div class="col-md-12">
        <div class="form-group">
          <label>Start</label>
          <%= f.time_select :date_range, { minute_step: 5 }, class: 'form-control', style: 'width: 50px; display: inline-block;' %>

          <label style="margin-left: 10px">End</label>
          <%= f.time_select :date_range, { minute_step: 5 }, class: 'form-control', style: 'width: 50px; display: inline-block;' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.submit 'Save', class: 't-save' %>
      </div>
    </div>
  </div>
<% end %>
