<% content_for(:page_title, t('service.title', page_title: 'Allocations')) %>
<%= breadcrumb( { title: 'Allocations' } ) %>

<h1 class="sr-only">Allocations</h1>

<%= render 'shared/nojs' %>

<div class="alert alert--fixed alert-success js-saved-changes t-saved-changes" role="alert" style="display:none;">
  <span class="glyphicon glyphicon-ok"></span> Changes saved.
</div>

<div class="alert alert--fixed alert-danger js-saved-changes t-saved-changes" role="alert" style="display:none;">
  <span class="glyphicon glyphicon-alert"></span> Unable to save changes. Please try again.
</div>

<%= render 'shared/calendar_filter' %>

<div
  id="AllocationsCalendar"
  class="company-calendar js-calendar t-calendar"
  data-module="allocations-calendar"
  data-default-date="<%= Time.zone.now %>"
  data-filter-select-id="filter_guiders">
</div>

<% if current_user.tpas? %>
  <h5 class="t-due-diligence-grace-period">PSG grace period: <%= due_diligence_grace_period %></h5>
<% end %>

<%= form_for(Holiday.new, remote: true, html: { class: 'js-holiday-form' }) do |f| %>
  <%= f.hidden_field :user_id, class: 'js-user-id' %>
  <%= f.hidden_field :title, class: 'js-title' %>
  <%= f.hidden_field :start_at, class: 'js-start-at' %>
  <%= f.hidden_field :end_at, class: 'js-end-at' %>
<% end %>

<div class="action-panel t-action-panel js-action-panel">
  <%= form_tag batch_update_appointments_path, method: :patch, remote: true, class: 'js-changes-form' do %>
    <button class="btn btn-primary t-save js-action-panel-save">
      <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save changes to
      <b>
        <span class="js-action-panel-event-count">0 events</span>
      </b>
    </button>

    <button class="btn btn-warning js-action-panel-undo-one">
      <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span> Undo last change
    </button>

    <button class="btn btn-danger js-action-panel-undo-all">
      <span class="glyphicon glyphicon-erase" aria-hidden="true"></span> Undo <b>all</b> changes
    </button>
    <input type="hidden" name="changes" id="event-changes">
  <% end %>
</div>

<div class="modal fade t-rescheduling-reason-modal" id="rescheduling-reasons-modal" tabindex="-1" role="dialog" aria-labelledby="rescheduling-reasons-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title js-modal-title" id="rescheduling-reasons-modal-label">Reason for rescheduling</h4>
      </div>
      <div class="modal-body" data-module="radio-toggle">
        <div class="radio">
          <div class="form-group">
            <div class="radio">
              <label>
                <input class="t-client-rescheduled" type="radio" value="client_rescheduled" name="rescheduling_reason" id="client_rescheduled" data-target="client-rescheduled-route"> Client rescheduled
              </label>
            </div>
            <div class="radio">
              <label>
                <input class="t-pension-wise-rescheduled" type="radio" value="office_rescheduled" name="rescheduling_reason" id="office_rescheduled"> Office rescheduled
              </label>
            </div>
          </div>
        </div>

        <div class="radio" id="client-rescheduled-route">
          <div class="form-group">
            <h4>Customer rescheduled via</h4>
            <div class="radio">
              <label>
                <input class="t-via-phone" type="radio" value="phone" name="rescheduling_route" id="rescheduling_route_phone"> Phone
              </label>
            </div>
            <div class="radio">
              <label>
                <input class="t-via-email-or-crm" type="radio" value="email_or_crm" name="rescheduling_route" id="rescheduling_route_email_or_crm"> Email or CRM
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary js-save t-save">Save</button>
      </div>
    </div>
  </div>
</div>
