<%= breadcrumb( { title: 'Allocations' } ) %>

<h1 class="sr-only">Allocations</h1>

<div class="alert alert--fixed alert-success js-saved-changes t-saved-changes" role="alert" style="display:none;">
  <span class="glyphicon glyphicon-ok"></span> Changes saved.
</div>

<div class="alert alert--fixed alert-danger js-saved-changes t-saved-changes" role="alert" style="display:none;">
  <span class="glyphicon glyphicon-alert"></span> Unable to save changes. Please try again.
</div>

<%= render 'shared/calendar_filter' %>

<div
  id="AllocationsCalendar"
  class="company-calendar js-calendar t-calendar"
  data-module="allocations-calendar"
  data-default-date="<%= Time.zone.now %>"
  data-filter-select-id="filter_guiders">
</div>

<%= form_for(Holiday.new, remote: true, html: { class: 'js-holiday-form' }) do |f| %>
  <%= f.hidden_field :user_id, class: 'js-user-id' %>
  <%= f.hidden_field :title, class: 'js-title' %>
  <%= f.hidden_field :start_at, class: 'js-start-at' %>
  <%= f.hidden_field :end_at, class: 'js-end-at' %>
<% end %>

<div class="action-panel t-action-panel js-action-panel">
  <%= form_tag batch_update_appointments_path, method: :patch, remote: true, class: 'js-changes-form' do %>
    <button class="btn btn-primary t-save js-action-panel-save">
      <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save changes to
      <b>
        <span class="js-action-panel-event-count">0 events</span>
      </b>
    </button>

    <button class="btn btn-warning js-action-panel-undo-one">
      <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span> Undo last change
    </button>

    <button class="btn btn-danger js-action-panel-undo-all">
      <span class="glyphicon glyphicon-erase" aria-hidden="true"></span> Undo <b>all</b> changes
    </button>
    <input type="hidden" name="changes" id="event-changes">
  <% end %>
</div>
