<%= breadcrumb( { title: 'Manage guiders' } ) %>

<h1>Manage guiders</h1>

<div data-module="guiders-multi-action">
  <div id="guiders" data-module="sortable-list" data-default-order='{"value": "name", "order": "asc"}' data-config='<%= sortable_list_config(@groups) %>'>
    <form class="form-inline show-with-js">
      <div class="form-group">
        <label for="user-search">Search</label>
        <input class="search form-control t-search" name="user-search" id="user-search" placeholder="Search">
      </div>
    </form>
    <table class="table table-striped table-bordered table-hover guiders" data-module="multi-checkbox" data-config='{"selectedClassName":"info"}'>
      <caption><span class="sr-only">List of guiders</span></caption>
      <colgroup>
        <col width="1%">
        <col width="34%">
        <col width="64%">
        <col width="1%">
      </colgroup>
      <thead>
        <tr>
          <th><label for="select-all" class="show-with-js"><input type="checkbox" id="select-all" class="select-all js-multi-checkbox-all"> <span class="sr-only">Select All</span></label></th>
          <th><span class="sort" data-sort="name">Name</span></th>
          <th>Groups</th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="list">
        <% @guiders.each do |guider| %>
          <tr class="t-guider guider js-multi-checkbox-group">
            <td>
              <label for="guider_<%= guider.id %>" class="show-with-js">
                <input type="checkbox" name="guider_<%= guider.id %>" id="guider_<%= guider.id %>" value="<%= guider.id %>" class="guider__checkbox t-checkbox js-multi-checkbox-item">
                <span class="sr-only">Select <%= guider.name %></span>
              </label>
            </td>
            <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="name"><%= guider.name %></span></td>
            <td>
              <% guider.groups.each do |group| %>
                <span class="label label-info <%= dom_id(group) %> t-group"><%= group.name %></span>
              <% end %>
            </td>
            <td class="guider__active">
              <% if guider.active? %>
                <span class="glyphicon glyphicon-ok t-active-icon" aria-hidden="true"></span>
                <span class="sr-only">Guider is active</span>
              <% else %>
                <span class="sr-only">Guider is inactive</span>
              <% end %>
            </td>
            <td nowrap="true">
              <%= link_to "/groups?user_ids=#{guider.id}", title: "Manage groups for #{guider.name}", class: 'btn btn-info' do %>
                <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                <span class="sr-only">Manage groups for #{guider.name}</span>
              <% end %>
              <%= link_to edit_user_path(guider), title: "Manage schedules for #{guider.name}", class: 'btn btn-info' do %>
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                <span class="sr-only">Manage schedules for #{guider.name}</span>
              <% end %>
              <% if guider.active %>
                <%= link_to user_deactivate_path(guider), method: 'PATCH', title: "Deactivate #{guider.name}", class: 'btn btn-danger t-deactivate', 'data-confirm': t('users.deactivate_confirm') do %>
                  <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                  <span class="sr-only">Deactivate #{guider.name}</span>
                <% end %>
              <% else %>
                <%= link_to user_activate_path(guider), method: 'PATCH', title: "Activate #{guider.name}", class: 'btn btn-success t-activate', 'data-confirm': t('users.activate_confirm') do %>
                  <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                  <span class="sr-only">Activate #{guider.name}</span>
                <% end %>
              <% end %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="js-action-panel action-panel t-action-panel">
    With the <span class="guider__number-selected t-selected js-action-panel-selected-count">0</span> <span class="js-action-panel-selected-guiders"></span> selected
    <label for="action-panel-select">
      <span class="sr-only">Action to perform</span>
      <select name="action" id="action-panel-select" class="js-action-panel-actions t-action">
        <option value="/groups">Add/remove groups</option>
      </select>
    </label>
    <button class="btn btn-primary t-go js-action-panel-go">Go</button>
  </div>
</div>
