<%= breadcrumb( { title: 'Guider display order' } ) %>

<h1>Guider display order</h1>

<%= render 'shared/nojs' %>

<p>
  Drag guiders around to control the order they are displayed on the <a href="<%= allocations_path %>">Allocations Calendar</a>.
</p>

<%= form_for :order_users, layout: :basic do |f| %>
  <div class="list-group sortable-guiders t-sortable-guiders" data-module="sortable-guiders">
    <% @guiders.each do |guider| %>
      <button type="button" class="sortable-guiders__guider list-group-item t-guider">
        <span class="glyphicon glyphicon-option-vertical"></span>
        <%= guider.name %>
        <% guider.groups.each do |group| %>
          <span class="label label-info <%= dom_id(group) %> t-group"><%= group.name %></span>
        <% end %>
        <%= f.hidden_field :guider_order, value: guider.id, multiple: true %>
      </button>
    <% end %>
  </div>
  <div class="action-panel t-action-panel js-action-panel">
    <%= f.submit 'Save Changes', class: 't-save js-save' %>
  </div>
<% end %>
