<p>Click on the calendar to create available slots</p>

<% if @schedule.errors.any? %>
  <div class="alert alert-danger t-errors" role="alert">
    <h3 class="alert__heading h4">There's a problem</h3>
    <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [@guider, @schedule], html: { class: "form-horizontal" } do |f| %>
  <div class="form-group">
    <%= f.label :start_at, 'From', class: 'col-sm-1 control-label' %>
    <div class="col-sm-2">
      <%=
        f.text_field(
          :start_at,
          value: @schedule.start_at.try(:strftime, '%-e %b %Y'),
          data: {
            module: 'date-range-picker',
            config: {
              singleDatePicker: true,
              showDropdowns: true
            }
          },
          class: 'form-control t-start-at'
        )
      %>
    </div>
    <div class="col-sm-9 text-right">
      <label aria-hidden="true">Add common slots:</label>
      <div class="btn-group" role="group" aria-label="Add Common Slots" id="calendar-common">
        <button type="button" class="btn btn-default" data-events='[
          { "start": "08:30", "end": "09:40" },
          { "start": "09:50", "end": "11:00" },
          { "start": "11:20", "end": "12:30" },
          { "start": "13:30", "end": "14:40" },
          { "start": "14:50", "end": "16:00" }
        ]'>Early</button>
        <button type="button" class="btn btn-default" data-events='[
          { "start": "09:30", "end": "10:40" },
          { "start": "10:50", "end": "12:00" },
          { "start": "12:20", "end": "13:30" },
          { "start": "14:30", "end": "15:40" },
          { "start": "15:50", "end": "17:00" }
        ]'>Mid</button>
        <button type="button" class="btn btn-default" data-events='[
          { "start": "11:00", "end": "12:10" },
          { "start": "12:20", "end": "13:30" },
          { "start": "13:50", "end": "15:00" },
          { "start": "16:00", "end": "17:10" },
          { "start": "17:20", "end": "18:30" }
        ]'>Late</button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div id="GuiderSlotPickerCalendar" data-module="guider-slot-picker-calendar" data-events=".slots-data" data-events-common="calendar-common" data-config='{"slotDurationMinutes": 70}'></div>
  </div>

  <%= f.hidden_field :slots, class: 'slots-data', value: @slots_as_json %>
  <%= f.submit 'Save', class: 'btn btn-success js-button-save t-save' %>
<% end %>
