<% start_year = 120.years.ago %>

<div class="form-dob" data-module="CustomerAge" data-output-id="js-customer-age">
  <%= field_with_errors_wrapper(form, :date_of_birth) do %>
    <label>
      <span class="sr-only">Date of birth</span> <%= required_label(:day) %>
      <%=
        form.number_field(
          'date_of_birth(3i)',
          id: "#{form.object_name}_date_of_birth_3i",
          use_label: false,
          value: form.object.date_of_birth.try(:day),
          placeholder: 'DD',
          class: 'form-dob__input js-dob-day t-date-of-birth-day',
          pattern: '[0-9]*',
          min: 1,
          max: 31,
          'aria-describedby': 'dob-hint'
        )
      %>
    </label>
    <label>
      <span class="sr-only">Date of birth</span> <%= required_label(:month) %>
      <%=
        form.number_field(
          'date_of_birth(2i)',
          id: "#{form.object_name}_date_of_birth_2i",
          use_label: false,
          value: form.object.date_of_birth.try(:month),
          placeholder: 'MM',
          class: 'form-dob__input js-dob-month t-date-of-birth-month',
          pattern: '[0-9]*',
          min: 1,
          max: 12
        )
      %>
    </label>
    <label>
      <span class="sr-only">Date of birth</span> <%= required_label(:year) %>
      <%=
        form.number_field(
          'date_of_birth(1i)',
          id: "#{form.object_name}_date_of_birth_1i",
          use_label: false,
          value: form.object.date_of_birth.try(:year),
          placeholder: 'YYYY',
          class: 'form-dob__input form-dob__input--year js-dob-year t-date-of-birth-year',
          pattern: '[0-9]*',
          min: start_year.year,
          max: Date.today.year
        )
      %>
    </label>
    <span class="bg-info" id="js-customer-age"></span>
    <span class="help-block" id="dob-hint">For example, 31 3 1950</span>
  <% end %>
</div>
