<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Appointments <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <%= active_link_to 'Search', search_appointments_path, wrap_tag: :li %>
    <%= active_link_to 'Book appointment', new_appointment_path, wrap_tag: :li, active: :exact %>
    <% if current_user.tpas? %>
      <%= active_link_to 'Book PSG appointment', new_appointment_path(schedule_type: User::DUE_DILIGENCE_SCHEDULE_TYPE), wrap_tag: :li, active: :exact %>
    <% end %>

    <% if current_user.resource_manager? %>
      <%= active_link_to 'Allocations', allocations_path, wrap_tag: :li %>
    <% end %>

    <% if current_user.guider? %>
      <%= active_link_to 'My appointments', my_appointments_path, wrap_tag: :li %>
      <%= active_link_to 'Company appointments', company_calendar_path, wrap_tag: :li %>
    <% end %>
  </ul>
</li>

<% if current_user.resource_manager? %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Guiders <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <%= active_link_to 'Groups & schedules', users_path, wrap_tag: :li, active: :exclusive %>
      <%= active_link_to 'Holidays', holidays_path, wrap_tag: :li %>
      <%= active_link_to 'Display order', sort_users_path, wrap_tag: :li %>
    </ul>
  </li>
<% end %>

<% if current_user.resource_manager? || current_user.contact_centre_team_leader? %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <%= active_link_to 'Appointment report', new_appointment_report_path, wrap_tag: :li %>
      <%= active_link_to 'Utilisation report', new_utilisation_report_path, wrap_tag: :li %>
      <%= active_link_to 'Slots report', new_bookable_slot_report_path, wrap_tag: :li %>
      <%= active_link_to 'Holiday report', new_holiday_report_path, wrap_tag: :li %>
    </ul>
  </li>
<% end %>

<li>
  <%= active_link_to 'Changes', releases_path %>
</li>

<li class="dropdown quick-search" data-module="quick-search">
  <a href="#" class="dropdown-toggle js-quick-search-button" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Quick Search</span>
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <span class="caret"></span>
  </a>
  <div class="dropdown-menu quick-search__dropdown">
    <form method="get" action="/appointments/search" class="form-inline">
      <div class="form-group quick-search__form-group">
        <label for="quick-search-input" class="quick-search__label"><span class="sr-only">Appointment ID or keyword</span>
          <input type="text" id="quick-search-input" class="form-control input-sm quick-search__input js-quick-search-input" name="search[q]" placeholder="Search">
        </label>
      </div>
      <input type="submit" class="quick-search__button btn btn-primary btn-xs" value="Search">
    </form>
  </div>
</li>

<% if current_user.guider? || current_user.agent? %>
  <li class="dropdown" data-module="high-priority-activity" data-config='{"event": "user_<%= current_user.id %>_high_priority_count"}'>
    <%= active_link_to activities_path, class: 'dropdown-toggle js-high-priority-dropdown-trigger t-high-priority-dropdown-trigger', data: { toggle: 'dropdown' }, role: 'button', aria: { haspopup: true, expanded: false } do %>
      <span class="sr-only">My activity</span><span aria-hidden="true" class="glyphicon glyphicon-bell"></span><span class="js-high-priority-badge t-high-priority-badge badge badge-danger"<% if high_priority_activity_count == 0 %> style="display: none;"<% end %>><span class="sr-only">You have </span><span class="js-high-priority-count t-high-priority-count"><%= high_priority_activity_count %></span> <span class="sr-only">unread activity <%= 'message'.pluralize(high_priority_activity_count) %></span></span>
      <span class="caret"></span>
    <% end %>
    <ul class="activity-dropdown-menu dropdown-menu js-high-priority-dropdown">
      <li class="activity">
        <div class="loading-spinner">
          <div class="loading-spinner__bounce loading-spinner__bounce--1"></div>
          <div class="loading-spinner__bounce loading-spinner__bounce--2"></div>
          <div class="loading-spinner__bounce"></div>
        </div>
      </li>
      <% if current_user.guider? %>
        <li class="activity activity--view-all">
          <a href="/activities">
            <span aria-hidden="true" class="glyphicon glyphicon-list"></span>
            View all activities
          </a>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
