<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Appointments <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <%= active_link_to 'Search', search_appointments_path, wrap_tag: :li %>
    <%= active_link_to 'Book appointment', new_appointment_path, wrap_tag: :li %>

    <% if current_user.resource_manager? %>
      <%= active_link_to 'Allocations', allocations_path, wrap_tag: :li %>
    <% end %>

    <% if current_user.guider? %>
      <%= active_link_to 'My appointments', my_appointments_path, wrap_tag: :li %>
      <%= active_link_to 'Company appointments', company_calendar_path, wrap_tag: :li %>
    <% end %>
  </ul>
</li>

<% if current_user.guider? %>
  <%= active_link_to 'My activity', activities_path, wrap_tag: :li %>
<% end %>

<% if current_user.resource_manager? %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Guiders <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <%= active_link_to 'Groups & schedules', users_path, wrap_tag: :li, active: :exclusive %>
      <%= active_link_to 'Holidays & unavailability', holidays_path, wrap_tag: :li %>
      <%= active_link_to 'Display order', sort_users_path, wrap_tag: :li %>
    </ul>
  </li>
<% end %>

<% if current_user.resource_manager? || current_user.contact_centre_team_leader? %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <%= active_link_to 'Appointment report', new_appointment_report_path, wrap_tag: :li %>
      <%= active_link_to 'Utilisation report', new_utilisation_report_path, wrap_tag: :li %>
    </ul>
  </li>
<% end %>

<li class="dropdown quick-search" data-module="quick-search">
  <a href="#" class="dropdown-toggle js-quick-search-button" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Quick Search</span>
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <span class="caret"></span>
  </a>
  <div class="dropdown-menu quick-search__dropdown">
    <form method="get" action="/appointments/search" class="form-inline">
      <div class="form-group quick-search__form-group">
        <label for="quick-search-input" class="quick-search__label"><span class="sr-only">Appointment ID or keyword</span>
          <input type="text" id="quick-search-input" class="quick-search__input js-quick-search-input" name="search[q]" placeholder="Search">
        </label>
      </div>
      <input type="submit" class="quick-search__button btn btn-primary btn-xs" value="Search">
    </form>
  </div>
</li>
