<h1 style="color: #0F19A0 !important;font-family: Calibri, Arial, sans-serif;margin: 15px 0;font-weight: 700;font-size: 20px;line-height: 1.111111111;padding: 15px 0;">
  We’ve cancelled your appointment
</h1>

<%= p do %>
  Dear <%= @appointment.first_name %>,
<% end %>

<%= p do %>
  <% if @appointment.cancelled_by_pension_wise? %>
    We have cancelled the following phone appointment due to unforeseen circumstances. We apologise for any inconvenience this may cause.
  <% else %>
    We have cancelled the following phone appointment as requested:
  <% end %>
<% end %>

<%= p do %>
  Date:
  <br>
  <strong class="emphasize">
    <%= @appointment.start_at.to_date.to_s(:govuk_date) %>
  </strong>
<% end %>

<%= p do %>
  Time:
  <br>
  <strong class="emphasize">
    <%= "#{@appointment.start_at.to_time.to_s(:govuk_time)} (#{@appointment.timezone})" %>
  </strong>
<% end %>

<%= p do %>
  Reference number:
  <br>
  <strong class="emphasize">
    <%= @appointment.id %>
  </strong>
<% end %>

<%= p do %>
  <% if @appointment.cancelled_by_pension_wise? %>
    If we have not contacted you already, we will offer you a new date for your appointment within 1 working day.
  <% else %>
    If you didn’t ask us to cancel your appointment or to book a new one, call <strong><%= @appointment.telephone %></strong>. Please don’t reply to this email.
  <% end %>
<% end %>

<%= render 'shared/email/money_helper' %>
