<h1 style="color: #0B0C0C !important;font-family: Helvetica, Arial, sans-serif;margin: 15px 0;font-weight: 700;font-size: 20px;line-height: 1.111111111;padding: 15px 0;">
  We’ve cancelled your appointment
</h1>

<%= p do %>
  Dear <%= @appointment.first_name %>,
<% end %>

<%= p do %>
  We have cancelled the following phone appointment as requested:
<% end %>

<%= p do %>
  Date:
  <br>
  <strong class="emphasize">
    <%= @appointment.start_at.to_date.to_s(:govuk_date) %>
  </strong>
<% end %>

<%= p do %>
  Time:
  <br>
  <strong class="emphasize">
    <%= @appointment.start_at.to_time.to_s(:govuk_time) %>
  </strong>
<% end %>

<%= p do %>
  Reference number:
  <br>
  <strong class="emphasize">
    <%= @appointment.id %>
  </strong>
<% end %>

<%= p do %>
  If you didn’t ask us to cancel your appointment or to book a new one, call 0800 138 3944. Please don’t reply to this email.
<% end %>

