<h1 style="color: #0F19A0 !important;font-family: Calibri, Arial, sans-serif;margin: 15px 0;font-weight: 700;font-size: 20px;line-height: 1.111111111;padding: 15px 0;">
  We’ve booked your appointment
</h1>

<%= p do %>
  Dear <%= @appointment.first_name %>,
<% end %>

<%= p do %>
  Thank you for booking a <%= @appointment.type %> appointment.
<% end %>

<%= render 'shared/email/appointment_details' %>

<%= render 'shared/email/preparing_for_appointment' %>

<%= render 'shared/email/money_helper', full_detail: true %>
