<h1 style="color: #0B0C0C !important;font-family: Helvetica, Arial, sans-serif;margin: 15px 0;font-weight: 700;font-size: 20px;line-height: 1.111111111;padding: 15px 0;">
  Booking reference number: <%= @appointment.id %>
</h1>

<%= p do %>
  Dear customer,
<% end %>

<%= p do %>
  Pension Wise is a government backed service which offers free and impartial
  guidance about your defined contribution pension options. We don’t recommend
  any products or tell you what to do with your money.
<% end %>

<%= p do %>
  A third party has asked to book a Pension Wise appointment to discuss your
  pension payment options. We need your authority to deliver a Pension Wise
  appointment to them on your behalf.
<% end %>

<%= p do %>
  Please complete the third party consent form and follow the return
  instructions:
<% end %>

<%= p do %>
  <%= link_to 'Download the consent form', appointment_consent_url(@appointment) %>
<% end %>

<%= p do %>
  If you did not ask a third party to discuss your pension options with Pension
  Wise email appointments@pensionwise.gov.uk
<% end %>
