<h1 style="color: #0F19A0 !important;font-family: Calibri, Arial, sans-serif;margin: 15px 0;font-weight: 700;font-size: 20px;line-height: 1.111111111;padding: 15px 0;">
  The status for this appointment has not been updated
</h1>

<%= p do %>
  Reference number:
  <br>
  <strong class="emphasize">
    <%= @appointment.id %>
  </strong>
<% end %>

<%= p do %>
  Date:
  <br>
  <strong class="emphasize">
    <%= @appointment.start_at.to_date.to_s(:govuk_date) %>
  </strong>
<% end %>

<%= p do %>
  <%= link_to 'View the appointment', edit_appointment_url(@appointment) %>
<% end %>
