<h1 style="color: #0F19A0 !important;font-family: Calibri, Arial, sans-serif;margin: 15px 0;font-weight: 700;font-size: 20px;line-height: 1.111111111;padding: 15px 0;">
  Missed appointment
</h1>

<%= p do %>
  Dear <%= @appointment.first_name %>,
<% end %>

<%= p do %>
  Our records show that you missed your Pension Wise phone appointment which was scheduled for:
<% end %>

<%= p do %>
  Date:
  <br>
  <strong class="emphasize">
    <%= @appointment.start_at.to_date.to_s(:govuk_date) %>
  </strong>
<% end %>

<%= p do %>
  Time:
  <br>
  <strong class="emphasize">
    <%= "#{@appointment.start_at.to_time.to_s(:govuk_time)} (#{@appointment.timezone})" %>
  </strong>
<% end %>

<%= p do %>
  Your phone number:
  <br>
  <strong class="emphasize">
    <%= @appointment.phone %>
  </strong>
<% end %>

<%= p do %>
  Reference number:
  <br>
  <strong class="emphasize">
    <%= @appointment.id %>
  </strong>
<% end %>

<%= p do %>
  To book another appointment, please call <strong>0800 138 3944</strong>. Please don’t reply to this email.
<% end %>

<%= render 'shared/email/money_helper' %>
