<h1 style="color: #0F19A0 !important;font-family: Calibri, Arial, sans-serif;margin: 15px 0;font-weight: 700;font-size: 20px;line-height: 1.111111111;padding: 15px 0;">
  Would you still like a <%= @appointment.type %> appointment?
</h1>

<%= p do %>
  <strong>Reference number:</strong> <%= @appointment.id %>
<% end %>

<%= p do %>
  Dear <%= @appointment.first_name %>,
<% end %>

<%= p do %>
  We were unable to contact you for your <%= @appointment.type %> appointment on <%= @appointment.start_at.to_date.to_fs(:govuk_date) %> at <%= "#{@appointment.start_at.to_time.to_fs(:govuk_time)} (#{@appointment.timezone})" %>.
<% end %>

<% if @appointment.pension_wise? %>
  <%= p do %>
    You can <a href="https://www.moneyhelper.org.uk/en/pensions-and-retirement/pension-wise/book-a-free-pension-wise-appointment/book-a-phone-appointment">book a new appointment online</a> or call 0800 138 3944 (+44 20 3733 3495 if you’re outside the UK).
  <% end %>

  <%= p do %>
    We’re open between 9am and 5pm, Monday to Friday. Closed on bank holidays.
  <% end %>

  <%= p do %>
    You can also have an <a href="https://prd-pwtriage.moneyhelper.org.uk/en/pension-wise-triage/start">online Pension Wise appointment</a> at any time.
  <% end %>

  <%= p do %>
    <strong>There’s currently a longer wait for phone appointments than normal.</strong>
  <% end %>
<% else %>
  <%= p do %>
    To book a new appointment, call 0800 015 4906.
  <% end %>

  <%= p do %>
    We’re open between 9am and 5pm, Monday to Friday. Closed on bank holidays.
  <% end %>
<% end %>

<%= render 'shared/email/money_helper' %>
