<h1 style="color: #0B0C0C !important;font-family: Helvetica, Arial, sans-serif;margin: 15px 0;font-weight: 700;font-size: 20px;line-height: 1.111111111;padding: 15px 0;">
  We’ve updated your appointment
</h1>

<%= p do %>
  Dear <%= @appointment.first_name %>,
<% end %>

<%= p do %>
  Your appointment details have been updated.
<% end %>

<%= render 'shared/email/appointment_details' %>

<%= p do %>
  Full details of our privacy policy, including information on your rights in relation to the data we hold can be found at <a href="https://www.pensionwise.gov.uk/en/privacy/">https://www.pensionwise.gov.uk/en/privacy</a>.
<% end %>

<%= render 'shared/email/preparing_for_appointment' %>
