<%= form_for @form, remote: true, method: :post, url: appointment_reissue_path(@form.appointment) do |f| %>
  <div class="modal-header">
    <h4 class="modal-title t-title">Reissue Summary</h4>
  </div>

  <div class="modal-body">
    <% if @form.errors.any? %>
      <div class="alert alert-danger t-errors" role="alert">
        <h3 class="alert__heading h4">There's a problem</h3>
        <ul>
          <% @form.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if @form.can_reissue? %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control t-email' %>
      </div>
    <% else %>
      <div class="alert alert-danger t-cannot-reissue" role="alert">
        <h3 class="alert__heading h4">There's a problem</h3>
        <p>This summary cannot be reissued via TAP.</p>
      </div>
    <% end %>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.button "Reissue Summary", class: 'btn btn-primary t-save' if @form.can_reissue? %>
  </div>
<% end %>
