<% content_for(:page_title, t('service.title', page_title: 'Company appointments')) %>
<%= breadcrumb( { title: 'Company appointments' } ) %>

<div class="fullscreen-calendar">
  <%= render 'shared/calendar_filter' %>

  <%= render 'shared/nojs' %>

  <div
    id="CompanyCalendar"
    class="company-calendar js-calendar js-calendar-reload-on-events t-calendar"
    data-module="company-calendar"
    data-default-date="<%= Time.zone.now %>"
    data-filter-select-id="filter_guiders">
  </div>

  <style>
  [data-resource-id="<%= current_user.id %>"] {
    background: #fff87c !important;
  }
  </style>
</div>
