<% if @appointment.bsl_video? %>
  <%= p do %>
    This is a video appointment with a British Sign Language interpreter.
  <% end %>

  <%= p do %>
    You will be sent further information and a link to access your video appointment that only you and the guidance specialist can join. They’ll repeat the memorable word so you know you’re speaking to <%= @appointment.provider %>.
  <% end %>
<% else %>
  <%= p do %>
    One of our pension specialists will call you on <%= @appointment.phone %> and quote the memorable word you’ve given us (<%= @appointment.memorable_word(obscure: true) %>) – so you know it’s us calling.
  <% end %>

  <%= p do %>
    Your appointment will usually last around 60 minutes. <% if @appointment.pension_wise? %>If you’ve asked for an access adjustment, we might contact you beforehand to ask for more details.<% end %>
  <% end %>
<% end %>

<%= p do %>
  You’ll need to rebook if:
<% end %>

<ul style="color: #0B0C0C;font-family: Calibri, Arial, sans-serif;margin-top: 15px;margin-bottom: 15px;font-size: 16px;line-height: 1.315789474;">
  <li>you’re not available at your appointment time or</li>
  <li>you’re driving – even if you use a hands-free device.</li>
</ul>

<% if @appointment.pension_wise? %>
  <h2 style="color: #0F19A0 !important;font-family: Calibri, Arial, sans-serif;margin: 15px 0;font-weight: 700;font-size: 18px;line-height: 1.111111111;padding: 15px 0;">
    How to change or cancel your appointment
  </h2>

  <%= p do %>
    You can:
  <% end %>

  <ul style="color: #0B0C0C;font-family: Calibri, Arial, sans-serif;margin-top: 15px;margin-bottom: 15px;font-size: 16px;line-height: 1.315789474;">
    <li><a href="<%= @appointment.online_rescheduling_url %>">change the date and time of your appointment online</a></li>
    <li><a href="<%= @appointment.online_cancellation_url %>">cancel your Pension Wise appointment online</a></li>
    <li>reply to this email.</li>
  </ul>

  <%= p do %>
    To change any other information you’ve given us, call 0800 138 3944 (+44 20 3733 3495 if you’re outside the UK).
  <% end %>

  <%= p do %>
    We’re open between 9am and 5pm, Monday to Friday. Closed on bank holidays.
  <% end %>
<% else %>
  <h2 style="color: #0F19A0 !important;font-family: Calibri, Arial, sans-serif;margin: 15px 0;font-weight: 700;font-size: 18px;line-height: 1.111111111;padding: 15px 0;">
    How to cancel or change your appointment
  </h2>

  <%= p do %>
    To change or cancel your Pension Safeguarding Guidance appointment, call 0800 015 4906.
  <% end %>

  <%= p do %>
    We’re open between 9am and 5pm, Monday to Friday. Closed on bank holidays.
  <% end %>
<% end %>
