<h2>Choose available slot <%= required_label %></h2>
<% if @appointment.unable_to_assign? %>
  <%= render 'unable_to_assign' %>
<% end %>

<%= render 'shared/nojs' %>

<% if current_user.lloyds_signposter? %>
  <%= form.check_box :lloyds_signposted, label: 'Lloyds Banking Group referral?', class: 't-lloyds-signposted js-lloyds-signposted', data: { module: 'lloyds-signposter' } %>
<% end %>

<div
  id="AppointmentAvailabilityCalendar"
  class="appointment-availability-calendar"
  data-module="appointment-availability-calendar"
  data-available-slots-path="<%= available_bookable_slots_path %>"
  data-lloyds-slots-path="<%= lloyds_bookable_slots_path %>"
  data-default-date="<%= BookableSlot.next_valid_start_date(current_user) %>"
></div>
<%= form.hidden_field :start_at, class: 't-start-at js-selected-start' %>
<%= form.hidden_field :end_at, class: 't-end-at js-selected-end' %>
