<div class="row form-group">
  <div class="col-md-6">
    <h2 class="h3">Customer details <small>fields marked with * are required</small></h2>

    <%= f.text_field :first_name, autocomplete: 'off', class: 't-first-name', label: required_label(:first_name) %>
    <%= f.text_field :last_name, autocomplete: 'off', class: 't-last-name', label: required_label(:last_name) %>
    <%= f.email_field :email, autocomplete: 'off', class: 't-email' %>
    <% if @appointment.due_diligence? %>
      <div class="form-group">
        <%= f.label :country_code, required_label('Country of residence') %>
        <%= f.country_select :country_code, { priority_countries: ['GB'] }, class: 't-country-of-residence form-control' %>
      </div>
    <% end %>
    <%= f.telephone_field :phone, autocomplete: 'off', class: 't-phone', label: required_label(:phone), 
      help: '<p>For non-UK numbers include the country dialling code.</p>'.html_safe
    %>
    <%= f.telephone_field :mobile, autocomplete: 'off', class: 't-mobile',
      help: 'We will use this to send an SMS appointment confirmation and reminder 7 days and additionally 48 hours before the appointment. Customers can cancel appointments via SMS response.'
    %>
    <%= f.text_field :memorable_word, autocomplete: 'off', class: 't-memorable-word', placeholder: 'We use this each time the customer is called',
      label: required_label(:memorable_word),
      help: 'Avoid using the same word from a different account or service'
    %>
    <%= render 'shared/date_of_birth_form_field', form: f if defined?(edit) && edit %>

    <% unless @appointment.due_diligence? %>
    <h2 class="h3">Eligibility</h2>

    <div class="form-group" data-module="type-of-appointment">
      <p><strong>Type of appointment</strong></p>
      <%= f.radio_button :type_of_appointment,
        'standard',
        label: 'Appointment for customers aged 55+',
        class: 't-type-of-appointment-standard js-type-of-appointment-standard'
      %>
      <%= f.radio_button :type_of_appointment,
        '50-54',
        label: 'Appointment for customers aged 50-54',
        class: 't-type-of-appointment-50-54 js-type-of-appointment-50-54'
      %>
    </div>

    <h2 class="h3">Research</h2>

    <div class="form-group">
      <p><strong>Customer research consent</strong></p>
      <%= f.radio_button :gdpr_consent, 'yes', label: 'Yes', class: 't-gdpr-consent-yes' %>
      <%= f.radio_button :gdpr_consent, 'no', label: 'No', class: 't-gdpr-consent-no' %>
      <% if @appointment.persisted? %>
      <%= f.radio_button :gdpr_consent, '', label: 'No response', class: 't-gdpr-consent-no-response', disabled: true %>
      <% end %>
    </div>

    <div class="form-group">
      <p><strong>Have you completed an online Pension Wise appointment?</strong></p>
      <span class="help-block text-left">This helps us understand how Pension Wise is used.</span>
      <%= f.radio_button :attended_digital, 'yes', label: 'Yes', class: 't-attended-digital-yes' %>
      <%= f.radio_button :attended_digital, 'no', label: 'No', class: 't-attended-digital-no' %>
      <%= f.radio_button :attended_digital, 'not-sure', label: 'Not sure', class: 't-attended-digital-not-sure' %>
    </div>
    <% end %>
  </div>

  <div class="col-md-6" data-module="checkbox-toggle">
    <h2 class="h3" data-module="postcode-lookup"
                   data-postcode-api-key="<%= postcode_api_key %>"
                   data-lookup-input="#postcode-lookup-input"
                   data-lookup-button="#postcode-lookup-button"
                   data-results-container="#postcode-lookup-results-container"
                   data-output-field-prefix="#appointment"
                   >
                   <% if @appointment.due_diligence? %>
                     Postal address <small>required if no email (only for summary document)</small>
                   <% else %>
                     Confirmation address <small>required if no email address</small>
                   <% end %>
    </h2>
    <div class="form-group form-inline postcode-lookup" id="postcode-lookup">
      <label for="appointment_summary_lookup">Postcode or address to search for</label><br>
      <input class="form-control input-md-3 add-right-margin" placeholder="Enter postcode or address" type="text" id="postcode-lookup-input" />
      <button class="btn btn-success btn-sm" onclick="return false" id="postcode-lookup-button">Find UK address</button>
    </div>
    <div class="form-group form-inline" id="postcode-lookup-results-container"></div>

    <%= f.text_field :address_line_one, autocomplete: 'off', class: 't-address-line-one', label: 'Building and street' %>
    <%= f.text_field :address_line_two, autocomplete: 'off', class: 't-address-line-two', use_label: false %>
    <%= f.text_field :address_line_three, autocomplete: 'off', class: 't-address-line-three', use_label: false %>
    <%= f.text_field :town, autocomplete: 'off', class: 't-town' %>
    <%= f.text_field :county, autocomplete: 'off', class: 't-county', label: 'County (optional)' %>
    <%= f.text_field :postcode, autocomplete: 'off', class: 't-postcode' %>

    <h2 class="h3">Additional information and marketing</h2>

    <%= f.check_box :accessibility_requirements, class: 't-accessibility-requirements', label: "Do you have any access requirements you'd like us to be aware of?", data: { target: 'adjustments' } %>
    <div class="col-md-offset-1" id="adjustments">
      <%= f.text_area :adjustments, label: required_label('Adjustments'), autocomplete: 'off', maxlength: 1000, class: 't-adjustments js-adjustments js-character-limit-input', rows: 6,
                      placeholder: 'Any adjustments that may help you. We might contact you before your appointment for more information', data: { module: 'character-limit', maxlength: 1000 }
      %>
    </div>

    <% if welsh_visible?(current_user) %>
      <%= f.check_box :welsh, class: 't-welsh', label: 'Welsh language appointment?', disabled: !@appointment.owned_by_my_organisation?(current_user) %>
    <% end %>
    <% unless @appointment.due_diligence? %>
    <%= f.check_box :third_party_booking, class: 't-third-party-booked', label: 'Third party appointment?', data: { target: 'consent' } %>
    <div class="col-md-offset-1" id="consent">
      <p><strong>Pension pot holder details:</strong></p>
      <div class="form-group">
        <%= f.text_field :data_subject_name, autocomplete: false, class: 't-data-subject-name', label: required_label('Name'), placeholder: 'Name' %>
        <% if @appointment.data_subject_age.present? %>
        <%= f.text_field :data_subject_age, autocomplete: false, readonly: true, disabled: true, class: 't-data-subject-age', label: required_label('Age'), placeholder: 'Age' %>
        <% end %>
        <p><strong>Date of birth</strong></p>
        <%= render 'data_subject_date_of_birth_field', form: f %>
      </div>
    </div>
    <% end # unless due diligence %>

    <% if stronger_nudge_visible?(current_user, @appointment) %>
      <%= f.check_box :nudged, class: 't-nudge-flag', label: 'Stronger Nudge signposting?' %>
    <% end %>

    <% if bsl_video_visible?(current_user) %>
     <%= f.check_box :bsl_video, class: 't-bsl-video', label: 'BSL video appointment?', disabled: bsl_video_disabled?(current_user) %>
    <% end %>

    <% if current_user.tpas? && @appointment.pension_wise? %>
      <%= f.check_box :small_pots, class: 't-small-pots', label: 'Small pots appointment?' %>
    <% end %>

    <% if (current_user.tpas? || current_user.administrator?) && !@appointment.due_diligence? %>
      <%= f.check_box :smarter_signposted, class: 't-smarter-signposted', label: 'Smarter signposting referral?' %>
    <% end %>

    <%= f.text_area :notes, label: 'Additional information', autocomplete: 'off', maxlength: 1000, class: 't-notes js-notes js-character-limit-input', rows: 6,
                    placeholder: 'Please add any additional information here that may be helpful for the appointment', data: { module: 'character-limit', maxlength: 1000 }
    %>

    <% if @appointment.due_diligence? %>
      <%= f.hidden_field :where_you_heard, value: '2', class: 't-hidden-where-you-heard' %>
    <% else %>
    <div class="form-group">
      <%= f.select :where_you_heard,
            options_for_select(WhereYouHeard::OPTIONS.invert.to_a, @appointment.where_you_heard),
            {}, { class: 't-where-you-heard form-control' }
      %>
    </div>
    <% end %>

    <% if @appointment.due_diligence? %>
      <%= f.text_field :referrer, autocomplete: 'off', class: 't-referrer', label: required_label('Pension Safeguarding Guidance referrer') %>
    <% end %>

    <% if defined?(edit) && edit %>
      <%=
        f.select(
          :status,
          friendly_options(Appointment.statuses),
          {},
          { class: 't-status', data: { module: 'secondary-status', options: Appointment::SECONDARY_STATUSES.to_json, 'initial-secondary-status' => @appointment.secondary_status } }
        )
      %>
    <%= f.select(:secondary_status, [], {}, { class: 't-secondary-status js-secondary-status', data: { 'no-tracking' => true }}) %>

    <div class="form-group js-cancelled-via" style="display: none">
      <p><strong>Customer cancelled via</strong></p>
      <%= f.radio_button :cancelled_via, 'phone', label: 'Phone', class: 't-cancelled-via-phone' %>
      <%= f.radio_button :cancelled_via, 'email', label: 'Email or CRM', class: 't-cancelled-via-email-or-crm' %>
    </div>
    <% end %>

  </div>
</div>
