<div class="row form-group">
  <div class="col-md-6">
    <h2 class="h3">Customer details <small>fields marked with * are required</small></h2>

    <%= f.text_field :first_name, class: 't-first-name', label: required_label(:first_name) %>
    <%= f.text_field :last_name, class: 't-last-name', label: required_label(:last_name) %>
    <%= f.email_field :email, class: 't-email', data: { module: 'email-validator',
                                                        api_key: ENV.fetch('MAILGUN_VALIDATION_KEY') { 'pubkey-b37c931b1fcef90bf2d83b7cdfd6df39' },
                                                        api_host: Rails.env.test? ? 'http://localhost:9293' : nil } %>
    <%= f.telephone_field :phone, class: 't-phone', label: required_label(:phone) %>
    <%= f.telephone_field :mobile, class: 't-mobile',
      help: 'Pension Wise will use this to send an SMS appointment reminder 7 days and additionally 48 hours before the appointment. Customers can cancel appointments via SMS response.'
    %>
    <%= f.text_field :memorable_word, class: 't-memorable-word', placeholder: 'Pension Wise will use this each time the customer is called', label: required_label(:memorable_word) %>
    <%= render 'shared/date_of_birth_form_field', form: f if defined?(edit) && edit %>

    <h2 class="h3">Eligibility</h2>

    <div class="form-group" data-module="type-of-appointment">
      <p><strong>Type of appointment</strong></p>
      <%= f.radio_button :type_of_appointment,
        'standard',
        label: 'Appointment for customers aged 55+',
        class: 't-type-of-appointment-standard js-type-of-appointment-standard'
      %>
      <%= f.radio_button :type_of_appointment,
        '50-54',
        label: 'Appointment for customers aged 50-54',
        class: 't-type-of-appointment-50-54 js-type-of-appointment-50-54'
      %>
    </div>

    <h2 class="h3">Research</h2>

    <div class="form-group">
      <p><strong>Customer research consent</strong></p>
      <%= f.radio_button :gdpr_consent, 'yes', label: 'Yes', class: 't-gdpr-consent-yes' %>
      <%= f.radio_button :gdpr_consent, 'no', label: 'No', class: 't-gdpr-consent-no' %>
      <%= f.radio_button :gdpr_consent, '', label: 'No response', class: 't-gdpr-consent-no-response' %>
    </div>
  </div>

  <div class="col-md-6">
    <h2 class="h3" data-module="postcode-lookup" data-postcode-api-key="<%= postcode_api_key %>">Confirmation address <small>required if no email address</small></h2>
    <div class="form-group form-inline postcode-lookup" id="postcode-lookup">
      <label for="appointment_summary_lookup">Postcode or address to search for</label><br>
      <input class="form-control input-md-3 add-right-margin" placeholder="Enter postcode or address" type="text" id="postcode-lookup-input" />
      <button class="btn btn-success btn-sm" onclick="return false" id="postcode-lookup-button">Find UK address</button>
    </div>
    <div class="form-group form-inline" id="postcode-lookup-results-container"></div>

    <%= f.text_field :address_line_one, class: 't-address-line-one', label: 'Building and street' %>
    <%= f.text_field :address_line_two, class: 't-address-line-two', use_label: false %>
    <%= f.text_field :address_line_three, class: 't-address-line-three', use_label: false %>
    <%= f.text_field :town, class: 't-town' %>
    <%= f.text_field :county, class: 't-county', label: 'County (optional)' %>
    <%= f.text_field :postcode, class: 't-postcode' %>

    <h2 class="h3">Additional information and marketing</h2>
    <%= f.check_box :accessibility_requirements, class: 't-accessibility-requirements', label: 'Do you require an adjustment to access our service?' %>
    <%= f.text_area :notes, class: 't-notes', rows: 6, placeholder: 'Is the customer hard of hearing? Is English their first language? etc.' %>
    <div class="form-group">
      <%= f.select :where_you_heard,
            options_for_select(WhereYouHeard::OPTIONS.invert.to_a, @appointment.where_you_heard),
            {}, { class: 't-where-you-heard form-control' }
      %>
    </div>

    <% if current_user.tp_agent? %>
      <div class="form-group">
        <%= f.label :pension_provider do %>
          Pension provider <span class="alert-danger">(required for final nudge trial only)</span>
        <% end %>
        <%= f.select :pension_provider,
          options_for_select(PensionProvider.all.invert.to_a, @appointment.pension_provider),
          { use_label: false, include_blank: true},
          class: 't-pension-provider form-control'
        %>
        <span class="help-block">Otherwise select <i>Not Applicable</i></span>
      </div>
    <% end %>

    <%=
      f.select(
        :status,
        friendly_options(Appointment.statuses),
        options = {},
        { class: 't-status' }
      ) if defined?(edit) && edit
    %>
  </div>
</div>
