<div class="row form-group">
  <div class="col-md-12">
    <h2>Customer details</h2>
    <%= render 'shared/required_fields_note' %>
  </div>
  <div class="col-md-6">
    <%= f.text_field :first_name, class: 't-first-name', label: required_label(:first_name) %>
    <%= f.text_field :last_name, class: 't-last-name', label: required_label(:last_name) %>
    <%= f.email_field :email, class: 't-email' %>
    <%= f.telephone_field :phone, class: 't-phone', label: required_label(:phone) %>
    <%= f.telephone_field :mobile, class: 't-mobile' %>
    <%= render 'shared/date_of_birth_form_field', form: f if defined?(edit) && edit %>
  </div>
  <div class="col-md-6">
    <%= f.text_field :memorable_word, class: 't-memorable-word', placeholder: 'Pension Wise will use this each time the customer is called', label: required_label(:memorable_word) %>
    <%= f.text_area :notes, class: 't-notes', rows: 6, placeholder: 'Is the customer hard of hearing? Is English their first language? etc.' %>
    <%= f.check_box :opt_out_of_market_research, class: 't-opt-out-of-market-research' %>
    <%=
      f.select(
        :status,
        friendly_options(Appointment.statuses),
        options = {},
        { class: 't-status' }
      ) if defined?(edit) && edit
    %>

    <div class="form-group">
      <p><strong>Type of appointment</strong></p>
      <%= f.radio_button :type_of_appointment, 'standard', label: 'Appointment for customers aged 55+', class: 't-type-of-appointment-standard' %>
      <%= f.radio_button :type_of_appointment, '50-54', label: 'Appointment for customers aged 50-54', class: 't-type-of-appointment-50-54' %>
    </div>
  </div>
</div>
