<div class="col-md-12" data-module="radio-toggle">
  <% if current_user.resource_manager? %>
    <div class="radio">
      <%= label_tag :scheduled_true do %>
        <%= radio_button_tag :scheduled, 'true', calendar_scheduling?, class: 't-availability-calendar-on', data: { target: 'availability-calendar-on' } %>
        <strong>Choose from the availability calendar</strong>
      <% end %>
    </div>
    <div class="radio">
      <%= label_tag :scheduled_false do %>
        <%= radio_button_tag :scheduled, 'false', !calendar_scheduling?, class: 't-availability-calendar-off', data: { target: 'availability-calendar-off' } %>
        <strong>Choose from ad-hoc availability</strong>
      <% end %>
    </div>
    <div class="col-md-4" id="availability-calendar-off">
      <div class="form-group">
        <%= form.text_field(
            :ad_hoc_start_at,
            class: 't-ad-hoc-start-at', 
            data: {
              module: 'date-range-picker',
              config: {
                singleDatePicker: true,
                timePicker: true,
                timePickerSeconds: false,
                timePickerIncrement: 10,
                autoApply: true,
                locale: {
                  format: 'DD/MM/YYYY h:mm A'
                }
              }
            }
          )
        %>
      </div>
      <div class="form-group">
        <%= form.select(
            :guider_id,
            options_for_select(user_options, @appointment.guider_id),
            { label: 'Guider' },
            class: 't-guider',
            data: { module: 'guider-select' }
          )
        %>
      </div>
    </div>
    <div id="availability-calendar-on">
      <%= render 'availability_calendar', form: form %>
    </div>
  <% else %>
    <%= hidden_field_tag :scheduled, true %>
    <%= render 'availability_calendar', form: form %>
  <% end %>
</div>
