<% content_for(:page_title, t('service.title', page_title: "Edit appointment for #{@appointment.name}")) %>
<%= breadcrumb(
  breadcrumb_part_for_previous_page,
  { title: "Edit appointment for #{@appointment.name}" }
) %>

<h4>
  <% if @appointment.nudged? %>
    <span class="label label-default t-nudged">Nudged</span></span>
  <% end %>

  <% if display_nudge_eligibility?(@appointment) %>
    <span class="label label-default t-nudged-eligibility"><%= nudge_banner_text(@appointment) %></span>
  <% end %>

  <% if @appointment.due_diligence? %>
    <span class="label label-default t-due-diligence-banner">PSG</span>
  <% end %>

  <% if @appointment.lloyds_signposted? %>
    <span class="label label-default t-lloyds-signposted">Lloyds Banking Group</span>
  <% end %>

  <% if @appointment.third_party_booking? %>
    <span class="label label-primary t-third-party-booked">Third Party Appointment</span>
  <% end %>

  <% if display_dc_pot_unsure_banner?(@appointment) %>
    <span class="label label-warning t-dc-pot-unsure">DC Pension Unsure</span>
  <% end %>

  <% if @appointment.imported? %>
    <span class="label label-info t-appointment-was-imported-message">Booking Bug Imported</span>
  <% end %>
</h4>

<% if @appointment.potential_duplicates? %>
  <div class="alert alert-warning" role="alert">
    <p>This appointment <strong><%= link_to 'may be duplicated', appointment_duplicates_path(@appointment) %></strong></p>
  </div>
<% end %>

<div class="row">
  <div class="col-md-7">
    <h1>Edit appointment for <%= @appointment.name %>&nbsp;
      <span class="text-muted"><span class="sr-only">Booking reference </span>#<%= @appointment.id %></span>&nbsp;
      <% if @appointment.unique_reference_number? %><span class="text-muted"><small><span class="sr-only">Unique reference </span>#<%= @appointment.unique_reference_number %></small></span>&nbsp;<% end %>
    </h1>
    <%= rebooked_from_heading(@appointment) %>
  </div>
  <div class="col-md-5 action-buttons">
    <% if can_process?(current_user, @appointment) %>
      <%= link_to appointment_process_path(@appointment), method: :post, title: 'Process', class: 'btn btn-info t-process' do %>
        <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
        <span>Process</span>
      <% end %>
    <% end %>
    <% if @appointment.can_create_summary?(current_user) %>
      <%= link_to SummaryDocumentLink.generate(@appointment), title: 'Create summary', class: 'btn btn-info', target: '_blank', data: summary_prompt_data(@appointment) do %>
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
        <span>Create Summary</span>
      <% end %>
    <% end %>
    <% if @appointment.can_be_rescheduled_by?(current_user) %>
      <%= link_to appointment_reschedule_path(@appointment), title: 'Reschedule appointment', class: 'btn btn-info t-reschedule' do %>
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        <span>Reschedule</span>
      <% end %>
    <% end %>
    <%= link_to new_appointment_path(copy_from: @appointment, schedule_type: @appointment.schedule_type), title: 'Rebook appointment', class: 'btn btn-info t-rebook' do %>
      <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
      <span>Rebook</span>
    <% end %>
    <% if current_user.tp? || current_user.tpas_agent? %>
      <%= link_to appointment_email_confirmation_path(@appointment), title: 'Resend appointment confirmation email', class: 'btn btn-info t-resend-email-confirmation', method: :post, data: { confirm: 'Resend the appointment confirmation email?' } do %>
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        <span>Resend</span>
      <% end %>
      <% if @appointment.print_confirmation? %>
        <%= link_to appointment_print_confirmation_path(@appointment), title: 'Resend appointment confirmation letter', class: 'btn btn-info t-resend-print-confirmation', method: :post, data: { confirm: 'Resend the appointment confirmation letter?' } do %>
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
          <span>Resend</span>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<%=
  render(
    partial: 'activities/activity_feed',
    locals: { appointment: @appointment }
  )
%>

<hr>
<div class="row">
  <div class="col-md-12">
    <h2>Booking details</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="booking-details table table-striped table-bordered">
      <caption><span class="sr-only">Booking details</span></caption>
      <thead class="booking-details__head">
        <tr>
          <th>Guider</th>
          <th>Appointment date/time</th>
          <th>Appointment created</th>
        </tr>
      </thead>
      <tbody>
        <tr class="booking-details__row">
          <td class="booking-details__item"><b class="visible-xs-block">Guider</b><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="t-guider"><%= @appointment.guider.name %> <small><%= @appointment.guider.organisation %></small></span> </td>
          <td class="booking-details__item"><b class="visible-xs-block">Appointment date/time</b><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <span class="t-appointment-date-time"><%= @appointment.start_at.to_date.to_s(:govuk_date_short) %>, <%= @appointment.start_at.to_s(:govuk_time) %> - <%= @appointment.end_at.to_s(:govuk_time) %></span></td>
          <td class="booking-details__item"><b class="visible-xs-block">Appointment created</b><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> <span class="t-created-date"><%= @appointment.created_at.to_s(:govuk_date_short) %></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>

<%= form_for @appointment, layout: :basic, html: { data: { module: 'form-change-monitor' } } do |f| %>
  <%= render partial: 'personal_details_form', locals: { f: f, edit: true } %>
  <div class="row form-group">
    <div class="col-md-12">
      <%= f.submit "Update appointment", class: 't-save' %>
    </div>
  </div>
<% end %>
