<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Home</a></li>
    <li><a href="<%= calendar_path %>">My appointments</a></li>
    <li class="active">Edit appointment</li>
  </ol>

  <h1>Edit appointment</h1>
</div>

<%=
  render(
    partial: 'activities/activity_feed',
    locals: { appointment: @appointment }
  )
%>

<%= form_for @appointment, layout: :basic do |f| %>
  <%= render partial: 'personal_details_form', locals: { f: f, edit: true } %>
  <div class="row form-group">
    <div class="col-md-12">
      <%= f.submit "Update appointment", class: 't-save' %>
    </div>
  </div>
<% end %>
