<% content_for(:page_title, t('service.title', page_title: "Edit appointment for #{@appointment.name}")) %>
<%= breadcrumb(
  breadcrumb_part_for_previous_page,
  { title: "Edit appointment for #{@appointment.name}" }
) %>

<% if @appointment.imported? %>
  <div class="alert alert-warning t-appointment-was-imported-message" role="alert">
    <p>
      This appointment was automatically imported from Booking Bug,
      which means that the date of birth is not valid.
    </p>
    <p>
      Please refer to the date of birth in the notes field.
    </p>
  </div>
<% end %>

<div class="row">
  <div class="col-md-7">
    <h1>Edit appointment for <%= @appointment.name %> <span class="text-muted"><span class="sr-only">Booking reference </span>#<%= @appointment.id %></span></h1>
    <%= rebooked_from_heading(@appointment) %>
  </div>
  <div class="col-md-5 action-buttons">
    <% if @appointment.can_create_summary? %>
      <%= link_to SummaryDocumentLink.generate(@appointment), title: 'Create summary', class: 'btn btn-info', target: '_blank' do %>
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
        <span>Create Summary</span>
      <% end %>
    <% end %>
    <% if @appointment.can_be_rescheduled_by?(current_user) %>
      <%= link_to appointment_reschedule_path(@appointment), title: 'Reschedule appointment', class: 'btn btn-info' do %>
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        <span>Reschedule</span>
      <% end %>
    <% end %>
    <%= link_to new_appointment_path(copy_from: @appointment), title: 'Rebook appointment', class: 'btn btn-info t-rebook' do %>
      <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
      <span>Rebook</span>
    <% end %>
  </div>
</div>

<%=
  render(
    partial: 'activities/activity_feed',
    locals: { appointment: @appointment }
  )
%>

<hr>
<div class="row">
  <div class="col-md-12">
    <h2>Booking details</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="booking-details table table-striped table-bordered">
      <caption><span class="sr-only">Booking details</span></caption>
      <thead class="booking-details__head">
        <tr>
          <th>Guider</th>
          <th>Appointment date/time</th>
          <th>Appointment created</th>
        </tr>
      </thead>
      <tbody>
        <tr class="booking-details__row">
          <td class="booking-details__item"><b class="visible-xs-block">Guider</b><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="t-guider"><%= @appointment.guider.name %></span></td>
          <td class="booking-details__item"><b class="visible-xs-block">Appointment date/time</b><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <span class="t-appointment-date-time"><%= @appointment.start_at.to_date.to_s(:govuk_date_short) %>, <%= @appointment.start_at.to_s(:govuk_time) %> - <%= @appointment.end_at.to_s(:govuk_time) %></span></td>
          <td class="booking-details__item"><b class="visible-xs-block">Appointment created</b><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> <span class="t-created-date"><%= @appointment.created_at.in_time_zone('London').to_s(:govuk_date_short) %></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>

<%= form_for @appointment, layout: :basic, html: { data: { module: 'form-change-monitor' } } do |f| %>
  <%= render partial: 'personal_details_form', locals: { f: f, edit: true } %>
  <div class="row form-group">
    <div class="col-md-12">
      <%= f.submit "Update appointment", class: 't-save' %>
    </div>
  </div>
<% end %>
