<h1>Create new appointment</h1>

<%= form_for @appointment, layout: :basic do |f| %>
  <div class="row form-group">
    <div class="col-md-12">
      <h2>Choose available slot</h2>

      <div class="calendar">
        <div data-module="AppointmentAvailabilityCalendar" data-events=".slots-data"></div>
        <input type="hidden" name="available-slots-json" class="slots-data" value="<%= @available_slots_json %>">
        <div class="hide">
          <%= f.text_field :start_at, data: { 'selected-start': true }, class: 't-start-at' %>
          <%= f.text_field :end_at, data: { 'selected-end': true }, class: 't-end-at' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-12">
      <h2>Personal Details</h2>
    </div>
    <div class="col-md-6">
      <%= f.text_field :first_name, class: 't-first-name' %>
      <%= f.text_field :last_name, class: 't-last-name' %>
      <%= f.email_field :email, class: 't-email' %>
      <%= f.telephone_field :phone, class: 't-phone' %>
      <%= f.telephone_field :mobile, class: 't-mobile' %>
    </div>
    <div class="col-md-6">
      <%= f.text_field :year_of_birth, class: 't-year-of-birth' %>
      <%= f.text_field :memorable_word, class: 't-memorable-word', placeholder: 'Pension Wise will use this each time the customer is called' %>
      <%= f.text_area :notes, class: 't-notes', rows: 6, placeholder: 'Is the customer hard of hearing? Is English their first language? etc.' %>
      <%= f.check_box :opt_out_of_market_research, class: 't-opt-out-of-market-research' %>
      <%=
        f.select(
          :where_did_you_hear_about_pension_wise,
          where_did_you_hear_about_pension_wise_options(@appointment),
          {
            label: 'Where did you hear about Pension Wise?',
            include_blank: true
          },
          {
            class: 't-where-did-you-hear-about-pension-wise',
            data: {
              module: 'AdvancedSelect',
              config: {
                tags: true,
                placeholder: 'Type a value in here if it is not included in the list'
              }
            }
          }
        )
      %>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-12">
      <%= f.submit "Confirm appointment", class: 't-save' %>
    </div>
  </div>
<% end %>
