<h1>Book an appointment</h1>
<%= render 'shared/required_fields_note' %>
<%= form_for [@appointment_attempt, @appointment], layout: :basic do |f| %>
  <div class="row form-group">
    <div class="col-md-12">
      <h2>Choose available slot <%= required_label %></h2>
      <p class="text-danger hide" id="slot-error">Please choose a slot</p>
      <div class="calendar">
        <div class="appointment-availability-calendar" data-module="AppointmentAvailabilityCalendar" data-error-id="slot-error" data-events=".slots-data" data-default-date="<%= BookableSlot.next_valid_start_date %>"></div>
        <input type="hidden" name="available-slots-json" class="slots-data" value="<%= @available_slots_json %>">
        <div class="hide">
          <%= f.text_field :start_at, data: { 'selected-start': true }, class: 't-start-at' %>
          <%= f.text_field :end_at, data: { 'selected-end': true }, class: 't-end-at' %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'personal_details_form', locals: { f: f } %>
  <div class="row form-group">
    <div class="col-md-12">
      <%= f.submit "Confirm appointment", class: 't-save' %>
    </div>
  </div>
<% end %>
