<%=
  breadcrumb(
    { title: 'Book an appointment', path: new_appointment_path },
    { title: 'Confirm appointment details' },
  )
%>

<h1>Confirm appointment details</h1>
<%= rebooked_from_heading(@appointment) %>

<hr>

<%= form_for @appointment, layout: :basic do |f| %>
  <%= f.hidden_field :rebooked_from_id %>
  <%= f.hidden_field :date_of_birth %>
  <%= f.hidden_field :start_at %>
  <%= f.hidden_field :end_at %>

  <%= f.hidden_field :first_name %>
  <%= f.hidden_field :last_name %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :phone %>
  <%= f.hidden_field :mobile %>
  <%= f.hidden_field :memorable_word %>
  <%= f.hidden_field :notes %>
  <%= f.hidden_field :opt_out_of_market_research %>
  <%= f.hidden_field :status %>

  <div class="t-preview appointment-preview">
    <div class="row">
      <div class="col-md-8">
        <p class="alert alert-warning">
          This appointment has not yet been created.<br>Please check the details below and then click <b>Confirm appointment</b>.
        </p>

        <table class="table lead">
          <tbody>
            <tr>
              <td class="active" width="35%"><b>Customer name</b></td>
              <td><%= @appointment.name %></td>
            </tr>
            <tr>
              <td class="active"><b>Appointment date</b></td>
              <td><%= "#{@appointment.start_at.to_date.to_s(:govuk_date)} #{@appointment.start_at.to_time.to_s(:govuk_time)}" %><br>(will last around 45 minutes)</td>
            </tr>
          </tbody>
        </table>

        <table class="table lead">
          <tbody>
            <tr>
              <td class="active" width="35%"><b>Date of birth</b></td>
              <td><%= @appointment.date_of_birth.to_date.to_s(:govuk_date) %></td>
            </tr>
            <tr>
              <td class="active"><b>Email</b></td>
              <td><%= @appointment.email %></td>
            </tr>
            <tr>
              <td class="active"><b>Phone</b></td>
              <td><%= @appointment.phone %></td>
            </tr>
            <tr>
              <td class="active"><b>Mobile</b></td>
              <td><%= @appointment.mobile %></td>
            </tr>
            <tr>
              <td class="active"><b>Memorable word</b></td>
              <td><%= @appointment.memorable_word %></td>
            </tr>
            <tr>
              <td class="active"><b>Notes</b></td>
              <td><%= @appointment.notes %></td>
            </tr>
            <tr>
              <td class="active"><b>Opt out of market research</b></td>
              <td><%= @appointment.opt_out_of_market_research ? 'Opted out' : 'Not opted out' %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <%= f.submit 'Confirm appointment', class: 't-confirm-appointment' %>
  <%= f.submit 'Edit appointment', name: :edit_appointment, class: 'btn-danger t-edit-appointment' %>
<% end %>
