<%=
  breadcrumb(
    { title: 'Book an appointment', path: new_appointment_path },
    { title: 'Review appointment details' },
  )
%>

<h1>Review appointment details</h1>

<%= rebooked_from_heading(@appointment) %>

<div class="alert alert-warning">
  This appointment has not been created yet. Please confirm the details are correct before proceeding.
</div>

<%= form_for @appointment, layout: :basic do |f| %>
  <%= f.hidden_field :rebooked_from_id %>
  <%= f.hidden_field :date_of_birth %>
  <%= f.hidden_field :start_at %>
  <%= f.hidden_field :end_at %>

  <%= f.hidden_field :first_name %>
  <%= f.hidden_field :last_name %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :phone %>
  <%= f.hidden_field :mobile %>
  <%= f.hidden_field :memorable_word %>
  <%= f.hidden_field :notes %>
  <%= f.hidden_field :opt_out_of_market_research %>
  <%= f.hidden_field :status %>

  <div class="t-preview appointment-preview">
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-primary">
          <div class="panel-heading">Appointment Details</div>
          <ul class="list-group">
            <li class="list-group-item appointment-preview__group">
              <span class="appointment-preview__label">Name</span>
              <span class="appointment-preview__value"><%= @appointment.name %></span>
            </li>
            <li class="list-group-item appointment-preview__group">
              <span class="appointment-preview__label">Date</span>
              <span class="appointment-preview__value"><%= "#{@appointment.start_at.to_date.to_s(:govuk_date)} #{@appointment.start_at.to_time.to_s(:govuk_time)} (will last around 45 minutes)" %></span>
            </li>
          </ul>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">Customer Details</div>
          <ul class="list-group">
            <li class="list-group-item appointment-preview__group">
              <span class="appointment-preview__label">Date of birth</span>
              <span class="appointment-preview__value"><%= @appointment.date_of_birth.to_date.to_s(:govuk_date) %></span>
            </li>
            <li class="list-group-item appointment-preview__group">
              <span class="appointment-preview__label">Email</span>
              <span class="appointment-preview__value"><%= @appointment.email %></span>
            </li>
            <li class="list-group-item appointment-preview__group">
              <span class="appointment-preview__label">Phone</span>
              <span class="appointment-preview__value"><%= @appointment.phone %></span>
            </li>
            <li class="list-group-item appointment-preview__group">
              <span class="appointment-preview__label">Mobile</span>
              <span class="appointment-preview__value"><%= @appointment.mobile %></span>
            </li>
            <li class="list-group-item appointment-preview__group">
              <span class="appointment-preview__label">Memorable word</span>
              <span class="appointment-preview__value"><%= @appointment.memorable_word %></span>
            </li>
            <li class="list-group-item appointment-preview__group">
              <span class="appointment-preview__label">Notes</span>
              <span class="appointment-preview__value appointment-preview__value--notes"><%= @appointment.notes %></span>
            </li>
            <li class="list-group-item appointment-preview__group">
              <span class="appointment-preview__label">Opt out of market research</span>
              <span class="appointment-preview__value"><%= @appointment.opt_out_of_market_research ? 'Yes' : 'No' %></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%= f.submit 'Confirm appointment', class: 't-confirm-appointment' %>
  <%= f.submit 'Edit appointment', name: :edit_appointment, class: 'btn-danger t-edit-appointment' %>
<% end %>
