<% content_for(:page_title, t('service.title', page_title: 'Confirm appointment details')) %>
<%=
  breadcrumb(
    { title: 'Book an appointment', path: new_appointment_path },
    { title: 'Confirm appointment details' },
  )
%>

<h1>Confirm appointment details</h1>
<%= rebooked_from_heading(@appointment) %>

<hr>

<%= form_for @appointment, layout: :basic do |f| %>
  <%= hidden_field_tag :scheduled, calendar_scheduling? %>
  <%= f.hidden_field :rebooked_from_id %>
  <%= f.hidden_field :date_of_birth %>
  <%= f.hidden_field :start_at %>
  <%= f.hidden_field :ad_hoc_start_at %>
  <%= f.hidden_field :end_at %>
  <%= f.hidden_field :guider_id %>
  <%= f.hidden_field :third_party_booking %>

  <%= f.hidden_field :first_name %>
  <%= f.hidden_field :last_name %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :phone %>
  <%= f.hidden_field :mobile %>
  <%= f.hidden_field :memorable_word %>
  <%= f.hidden_field :accessibility_requirements %>
  <%= f.hidden_field :notes %>
  <%= f.hidden_field :gdpr_consent %>
  <%= f.hidden_field :status %>
  <%= f.hidden_field :type_of_appointment %>
  <%= f.hidden_field :where_you_heard %>
  <%= f.hidden_field :address_line_one %>
  <%= f.hidden_field :address_line_two %>
  <%= f.hidden_field :address_line_three %>
  <%= f.hidden_field :town %>
  <%= f.hidden_field :county %>
  <%= f.hidden_field :postcode %>
  <%= f.hidden_field :smarter_signposted %>
  <%= f.hidden_field :lloyds_signposted %>
  <%= f.hidden_field :bsl_video %>

  <%= f.hidden_field :data_subject_name %>
  <%= f.hidden_field :data_subject_date_of_birth %>
  <%= f.hidden_field :data_subject_consent_obtained %>
  <%= f.hidden_field :printed_consent_form_required %>
  <%= f.hidden_field :email_consent_form_required %>
  <%= f.hidden_field :power_of_attorney %>
  <%= f.hidden_field :consent_address_line_one %>
  <%= f.hidden_field :consent_address_line_two %>
  <%= f.hidden_field :consent_address_line_three %>
  <%= f.hidden_field :consent_town %>
  <%= f.hidden_field :consent_county %>
  <%= f.hidden_field :consent_postcode %>
  <%= f.hidden_field :email_consent %>

  <div class="t-preview appointment-preview">
    <div class="row">
      <div class="col-md-8">
        <p class="alert alert-warning">
          This appointment has not yet been created.<br>Please check the details below and then click <b>Confirm appointment</b>.
        </p>

        <table class="table lead">
          <tbody>
            <tr>
              <td class="active" width="35%"><b>Customer name</b></td>
              <td><%= @appointment.name %></td>
            </tr>
            <tr>
              <td class="active"><b>Appointment date</b></td>
              <td><%= "#{@appointment.start_at.to_date.to_s(:govuk_date)} #{@appointment.start_at.to_time.to_s(:govuk_time)}" %><br>(will last around 45 to 60 minutes)</td>
            </tr>
          </tbody>
        </table>

        <table class="table lead">
          <tbody>
            <tr>
              <td class="active" width="35%"><b>Date of birth</b></td>
              <td><%= @appointment.date_of_birth.to_date.to_s(:govuk_date) %></td>
            </tr>
            <tr>
              <td class="active"><b>Email</b></td>
              <td><%= @appointment.email %></td>
            </tr>
            <% if @appointment.address_line_one? %>
            <tr>
              <td class="active"><b>Address</b></td>
              <td>
                <%= @appointment.address_line_one %><br>
                <%= display_with_newline(@appointment.address_line_two) %>
                <%= display_with_newline(@appointment.address_line_three) %>
                <%= @appointment.town %><br>
                <%= display_with_newline(@appointment.county) %>
                <%= @appointment.postcode %>
              </td>
            </tr>
            <% end %>
            <tr>
              <td class="active"><b>Phone</b></td>
              <td><%= @appointment.phone %></td>
            </tr>
            <tr>
              <td class="active"><b>Mobile</b></td>
              <td><%= @appointment.mobile %></td>
            </tr>
            <tr>
              <td class="active"><b>Memorable word</b></td>
              <td><%= @appointment.memorable_word %></td>
            </tr>
            <tr>
              <td class="active"><b>I require help or an adjustment to help me access my appointment</b></td>
              <td><%= @appointment.accessibility_requirements %></td>
            </tr>
            <% if @appointment.third_party_booking? %>
            <tr>
              <td class="active"><b>Data subject name</b></td>
              <td><%= @appointment.data_subject_name %></td>
            </tr>
            <tr>
              <td class="active"><b>Data subject date of birth</b></td>
              <td><%= @appointment.data_subject_date_of_birth.to_date.to_s(:govuk_date) %></td>
            </tr>
            <tr>
              <td class="active"><b>Email consent form required</b></td>
              <td><%= boolean_yes_no(@appointment.email_consent_form_required) %></td>
            </tr>
            <% if @appointment.email_consent_form_required? %>
            <tr>
              <td class="active"><b>Email consent</b></td>
              <td><%= @appointment.email_consent %></td>
            </tr>
            <% end %>
            <tr>
              <td class="active"><b>Printed consent form required</b></td>
              <td><%= boolean_yes_no(@appointment.printed_consent_form_required) %></td>
            </tr>
            <tr>
              <td class="active"><b>Data subject consent obtained</b></td>
              <td><%= boolean_yes_no(@appointment.data_subject_consent_obtained) %></td>
            </tr>
            <tr>
              <td class="active"><b>Power of attorney</b></td>
              <td><%= boolean_yes_no(@appointment.power_of_attorney) %></td>
            </tr>
            <% end %>
            <tr>
              <td class="active"><b>Notes</b></td>
              <td><%= simple_format(@appointment.notes) %></td>
            </tr>
            <tr>
              <td class="active"><b>Customer research consent</b></td>
              <td><%= @appointment.customer_research_consent %></td>
            </tr>
            <tr>
              <td class="active"><b>Type of appointment</b></td>
              <td><%= @appointment.type_of_appointment.humanize %></td>
            </tr>
            <% if current_user.tpas? || current_user.administrator? %>
            <tr>
              <td class="active"><b>Smarter signposted referral?</b></td>
              <td><%= @appointment.smarter_signposted? ? 'Yes' : 'No' %></td>
            </tr>
            <% end %>
            <% if current_user.lloyds_signposter? %>
            <tr>
              <td class="active"><b>Lloyds Banking Group referral?</b></td>
              <td><%= @appointment.lloyds_signposted? ? 'Yes' : 'No' %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

        <p class="alert alert-warning">
          Full details on our privacy policy, including the customers rights in
          regards to their personal data, can be found on the Pension Wise website
        </p>
      </div>
    </div>
  </div>

  <%= f.submit 'Confirm appointment', class: 't-confirm-appointment' %>
  <%= f.submit 'Edit appointment', name: :edit_appointment, class: 'btn-danger t-edit-appointment' %>
<% end %>
