<% content_for(:page_title, t('service.title', page_title: "Reschedule appointment for #{@appointment.name}")) %>
<%= breadcrumb(
  { title: 'Appointment search', path: search_appointments_path },
  { title: "Reschedule appointment for #{@appointment.name}" })
%>

<h1>Reschedule an appointment for <%= @appointment.name %></h1>

<%= render 'shared/required_fields_note' %>
<%= form_for [@appointment], url: appointment_update_reschedule_path(@appointment), layout: :basic do |f| %>
  <div class="row form-group">
    <%= render 'schedule_form', form: f, rescheduling: true %>
  </div>
  <div class="row form-group">
    <div class="col-md-12">
      <%= f.submit "Reschedule", class: 't-reschedule' %>
    </div>
  </div>
<% end %>
