<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Home</a></li>
    <li class="active">Reschedule an appointment</li>
  </ol>

  <h1>Reschedule an appointment</h1>
</div>

<%= render 'shared/required_fields_note' %>

<%= form_for [@appointment], layout: :basic do |f| %>
  <div class="row form-group">
    <div class="col-md-12">
      <h2>Choose available slot <%= required_label %></h2>
      <p class="text-danger hide" id="slot-error">Please choose a slot</p>
      <div
        id="AppointmentAvailabilityCalendar"
        class="appointment-availability-calendar"
        data-module="AppointmentAvailabilityCalendar"
        data-error-id="slot-error"
        data-available-slots-path="<%= bookable_slots_available_path %>"
        data-default-date="<%= BookableSlot.next_valid_start_date %>"
      ></div>
      <input type="hidden" name="available-slots-json" class="slots-data" value="<%= @available_slots_json %>">
      <%= f.hidden_field :start_at, value: nil, data: { 'selected-start': true }, class: 't-start-at' %>
      <%= f.hidden_field :end_at, value: nil, data: { 'selected-end': true }, class: 't-end-at' %>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-12">
      <%= f.submit "Reschedule", class: 't-reschedule' %>
    </div>
  </div>
<% end %>
