<% content_for(:page_title, t('service.title', page_title: 'Appointment search')) %>
<%= breadcrumb( { title: 'Appointment search' } ) %>

<h1>Appointment search</h1>

<%= form_for @search, method: 'GET', url: { action: :search }, html: { class: 'appointment-search form-inline' } do |f| %>
  <div class="form-group">
    <%= f.label :q, 'Search term' %>
    <%= f.text_field :q, use_label: false, class: 't-q appointment-search__term form-control', placeholder: 'Reference, name or guider' %>
  </div>
  <div class="form-group">
    <%= f.label :date_range, 'Date range' %>
    <%=
      f.text_field(
        :date_range,
        class: 't-date-range appointment-search__date-range form-control',
        use_label: false,
        placeholder: '3 months ago to 1 month from now',
        readonly: true,
        data: {
          module: 'date-range-picker',
          config: {
            autoUpdateInput: false,
            autoApply: true,
            locale: {
              cancelLabel: 'Clear',
              format: 'DD/MM/YYYY'
            }
          }
        }
      )
    %>
  </div>
  <% unless current_user.tpas? %>
  <div class="form-group">
    <label>Processed</label>
    <label><%= f.radio_button :processed, 'no', class: 't-processed-no' %> No</label>
    <label><%= f.radio_button :processed, 'yes', class: 't-processed-yes' %> Yes</label>
  </div>
  <% end %>
  <% if current_user.tpas? %>
  <div class="form-group">
    <label><%= f.radio_button :appointment_type, 'pension_wise', class: 't-pension-wise' %> Pension Wise</label>
    <label><%= f.radio_button :appointment_type, 'due_diligence', class: 't-due-diligence' %> PSG</label>
    <label><%= f.radio_button :appointment_type, '', class: 't-any' %> Any</label>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.submit 'Search', class: 't-search btn btn-primary' %>
  </div>
<% end %>

<table id="results" class="appointment-search-results table table-striped table-bordered table-hover">
  <caption><span class="sr-only">Appointment search results</span></caption>
  <thead class="appointment-search-results__head">
    <tr>
      <th>Reference</th>
      <th>Customer</th>
      <th>Guider</th>
      <th>Appointment Date/Time</th>
      <th>Created</th>
      <th>Status</th>
      <th width="1%">Actions</th>
    </tr>
  </thead>
  <tbody class="list" data-module="search-highlight">
    <% @results.each do |result| %>
      <% result = AppointmentSearchResultPresenter.new(result) %>
      <tr class="appointment-search-results__row t-result">
        <td class="appointment-search-results__item"><b class="visible-xs-block">Reference</b><span class="id js-allow-highlighting t-id">#<%= result.id %></span><% if result.due_diligence? %> <small>(PSG)</small><% end %></td>
        <td class="appointment-search-results__item"><b class="visible-xs-block">Customer</b><span class="js-allow-highlighting t-name"><%= result.name %></span></td>
        <td class="appointment-search-results__item"><b class="visible-xs-block">Guider</b><span class="js-allow-highlighting"><%= result.guider_name %></span> <small>(<%= result.guider_organisation %>)</small></td>
        <td class="appointment-search-results__item"><b class="visible-xs-block">Appointment Date/Time</b><%= result.date %></td>
        <td class="appointment-search-results__item"><b class="visible-xs-block">Created</b><%= result.created_at %></td>
        <td class="appointment-search-results__item"><b class="visible-xs-block">Status</b><%= result.status %> <%= processed_tick(result) %></td>
        <td class="appointment-search-results__item" nowrap="true">
          <%= link_to edit_appointment_path(result), title: 'Edit appointment', class: 'btn btn-info t-edit' do %>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            <span class="sr-only">Edit appointment</span>
          <% end %>
          <% if result.can_be_rescheduled_by?(current_user) %>
            <%= link_to appointment_reschedule_path(result), title: 'Reschedule appointment', class: 'btn btn-info t-reschedule' do %>
              <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
              <span class="sr-only">Reschedule appointment</span>
            <% end %>
          <% end %>
          <%= link_to new_appointment_path(copy_from: result, schedule_type: result.schedule_type), title: 'Rebook appointment', class: 'btn btn-info t-rebook' do %>
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
            <span class="sr-only">Rebook appointment</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav aria-label="Pagination">
  <%= paginate @results %>
</nav>
