<div class="row t-activity-feed">
  <div class="col-md-12 border-bottom">
    <h2>Recent activity</h2>

    <div class="activity-feed">
      <div class="well js-message-form">
        <%= form_for MessageActivity.new(appointment: appointment, owner: appointment.guider), url: activities_path(appointment_id: appointment.id), remote: true do |f| %>
          <div class="input-group">
            <%= f.text_field :message, placeholder: 'Add an action to keep others in the loop', class: 'form-control js-message t-message' %>
            <span class="input-group-btn">
              <%= f.button class: 'btn btn-primary btn-block t-submit-message', data: { disable_with: 'Adding message...' } do %>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add message
              <% end %>
            </span>
          </div>
        <% end %>
      </div>

      <ul class="list-group" data-module="activity-feed" data-config='{"event": "appointment_activity_<%= appointment.id %>"}'>
        <%= render(appointment.activities.first, details: false) if appointment.activities.present? %>
      </ul>

      <% if appointment.activities.count > 1 %>
        <ul class="list-group t-hidden-activities collapse" id="collapse">
          <%= render(appointment.activities - Array(appointment.activities.first), details: false) %>
        </ul>
        <button class="btn btn-default t-further-activities" data-target="#collapse" data-toggle="collapse" aria-expanded="false" aria-controls="collapse">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          All activity
        </button>
      <% end %>
    </div>
  </div>
</div>
