<ol class="breadcrumb">
  <li><a href="<%= root_path %>">Home</a></li>
  <li class="active">Reports</li>
</ol>

<h1>Generate a report</h1>

<%= panel heading: 'Generate an appointment report' do %>
  <div class='panel-body t-appointment-report'>
    <%= form_for @appointment_report, method: 'GET', target: '_blank', 'data-disable-with': nil, layout: :basic do |f| %>
      <%=
        f.select(
          :where,
          options_for_select(@where_options),
          {},
          class: 't-where',
          data: { module: 'advanced-select' }
        )
      %>
      <%=
        f.text_field(
          :date_range,
          class: 't-is-within',
          label: 'Is within',
          data: {
            module: 'date-range-picker',
            config: {
              autoUpdateInput: false,
              locale: {
                cancelLabel: 'Clear',
                format: 'DD/MM/YYYY'
              }
            }
          }
        )
      %>
      <% # Use manual html here so that data-disable-with isn't added. %>
      <input type="submit" name="commit" value="Download" class="t-download btn btn-primary">
    <% end %>
  </div>
<% end %>

<%= panel heading: 'Generate a utilisation report' do %>
  <div class='panel-body t-utilisation-report'>
    <%= form_for @utilisation_report, method: 'GET', target: '_blank', 'data-disable-with': nil, layout: :basic do |f| %>
      <%=
        f.text_field(
          :date_range,
          class: 't-is-within',
          label: 'Is within',
          data: {
            module: 'date-range-picker',
            config: {
              autoUpdateInput: false,
              locale: {
                cancelLabel: 'Clear',
                format: 'DD/MM/YYYY'
              }
            }
          }
        )
      %>
      <% # Use manual html here so that data-disable-with isn't added. %>
      <input type="submit" name="commit" value="Download" class="t-download btn btn-primary">
    <% end %>
  </div>
<% end %>
