<div class="page-header">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">Home</a></li>
    <li class="active">Reports</li>
  </ol>

  <h1>Generate a report</h1>
</div>

<%= form_for @report, method: 'GET', layout: :basic do |f| %>
  <%=
    f.select(
      :where,
      options_for_select(@where_options),
      {},
      class: 't-where',
      data: { module: 'AdvancedSelect' }
    )
  %>
  <%=
    f.text_field(
      :date_range,
      class: 't-is-within',
      label: 'Is within',
      data: {
        module: 'DateRangePicker',
        config: {
          autoUpdateInput: false,
          locale: {
            cancelLabel: 'Clear',
            format: 'DD/MM/YYYY'
          }
        }
      }
    )
  %>
  <%= f.submit 'Download', class: 't-download' %>
<% end %>
