<% content_for :head do %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
<% end %>

<% content_for :navbar_items do %>
  <% render 'shared/navigation' %>
<% end %>

<% content_for :navbar_right do %>
  <% if current_user.administrator? || current_user.business_analyst? %>
    <%= form_for current_user, html: { class: 'js-organisation-form' } do |f| %>
      <%= f.select :organisation_content_id,
        options_for_select(organisation_options(current_user), current_user.organisation_content_id),
        { include_blank: true },
        { class: 't-organisation js-organisation' }
      %>
    <% end %>
  <% end %>
<% end %>

<% content_for :content do %>
  <p class="alert alert-warning">
    We are experiencing an issue with outbound transactional emails (eg
    confirmations.) All emails will be sent once it is resolved. There is no
    impact on summary document emails.
  </p>

  <%= yield %>
<% end %>

<% content_for :body_end do %>
  <div data-module="activity-resolve"></div>
  <script>
  <% if defined?(PusherFake) %>
      Pusher.instance = <%= raw PusherFake.javascript %>;
  <% else %>
      Pusher.instance = new Pusher('<%= ENV['PUSHER_KEY'] %>', {
        cluster: 'eu',
        encrypted: true
      });
  <% end %>
  </script>

  <% if ENV['BUGMUNCHER_KEY'] %>
    <script type="text/javascript">
      var bugmuncher_options = {
        api_key: '<%= ENV['BUGMUNCHER_KEY'] %>'
      };
      (function(){
        var e = document.createElement("script");
        e.setAttribute("type", "text/javascript");
        var d = new Date(); var n = '?'+d.getFullYear()+(d.getMonth()+1)+d.getDate()+d.getHours();
        e.setAttribute("src", "//cdn.bugmuncher.com/bugmuncher.js"+n);
        document.getElementsByTagName("head")[0].appendChild(e);
      })();
    </script>
  <% end %>
  <div data-module="calendar-events" data-config='{ "guiderId": "<%= current_user.id %>"}'>
    <div class="modal fade t-notification" id="calendar-event-modal" tabindex="-1" role="dialog" aria-labelledby="calendar-event-modal-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="calendar-event-modal-label">Appointment update</h4>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/govuk_admin_template' %>
