<% content_for :head do %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
<% end %>

<% content_for :navbar_items do %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Appointments <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <%= active_link_to 'Search', search_appointments_path, wrap_tag: :li %>
      <%= active_link_to 'Book appointment', new_appointment_path, wrap_tag: :li %>

      <% if current_user.resource_manager? %>
        <%= active_link_to 'Allocations', resource_calendar_path, wrap_tag: :li %>
      <% end %>
    </ul>
  </li>

  <% if current_user.guider? %>
    <%= active_link_to 'My appointments', calendar_path, wrap_tag: :li %>
    <%= active_link_to 'Company', company_calendar_path, wrap_tag: :li %>
  <% end %>

  <% if current_user.resource_manager? %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Availability <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <%= active_link_to 'Groups & schedules', users_path, wrap_tag: :li %>
        <%= active_link_to 'Holidays & unavailability', holidays_path, wrap_tag: :li %>
        <%= active_link_to 'Generate a report', new_report_path, wrap_tag: :li %>
      </ul>
    </li>
  <% end %>
<% end %>

<%= render template: 'layouts/govuk_admin_template' %>
